.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-4 {
  margin-bottom: 40px;
}
.mb-6 {
  margin-bottom: 60px;
}
.mb-7 {
  margin-bottom: 70px;
}
.mb-10 {
  margin-bottom: 100px;
}
.mb-11 {
  margin-bottom: 110px;
}
.mb-12 {
  margin-bottom: 120px;
}
.mb-20 {
  margin-bottom: 200px;
}
.mt-14 {
  margin-top: 140px;
}
.mt-auto {
  margin-top: auto;
}

/*GAPS-*/

.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-16 {
  gap: 1rem;
}
.gap-24 {
  gap: 1.5rem;
}
.gap-40{
  gap: 2.5rem;
}
.gap-4rem {
  gap: 4rem;
}
